#origemscript { 
  position: absolute; 
  top: 54px; right: 345px; 
  width: 130px;  
  background: #000; 
  background: rgba(0,0,0,0.5);        
  padding: 10px; 
  z-index: 12; 
  font-family: "helvetica"; 
  font-size: 1.0em; 
  border-radius: 0 0 35px 35px; 
  color: #FFF; 
}
#ow-painel-main, 
#ow-painel-background { 
  cursor: move; 
}
#origemscript p { 
  text-align: left; 
  margin: 0 auto; 
  width: 80px; 
  display: inline-block; 
  padding-right: 5px; 
}
#origemscript a { 
  font-size: 1.0em; 
  color: #fff;
}
#origemscript h3 { 
  font-size: 20px; 
  text-align: center; 
  color: #ACE4EA; 
}
#origemscript h4 { 
  font-size: 15px; 
  text-align: right; 
  color: #ACE4EA; 
}
#origemscript .version { 
  font-style: italic; 
  font-size: 0.8em; 
  text-align: center; 
  margin-bottom: 20px; width:100%; 
}
#origemscript .disclaimer { 
  font-style: italic; 
  font-size: 0.7em; 
  text-align: center; 
  padding-top: 10px; 
}
.owLinks { 
  width: 100%; 
  text-align: center; 
  margin-bottom: 10px; 
  cursor: pointer; 
}
.owLinks:hover{ 
  color: #ACE4EA; 
}
.disabled1 { 
  display: none; 
}
.disabled2 { 
  z-index: 2000; 
}
.orange-bg { 
  background: rgba(244, 107, 64, 0.29) !important; 
}
.blue-bg { 
  background: rgba(172,228,234, 0.29) !important 
}
.onoffswitch { 
  margin: 5px auto 10px auto; 
  position: relative; 
  width: 40px; 
  -webkit-user-select:none; 
  -moz-user-select:none; 
  -ms-user-select: none; 
  display: inline-block; 
}
.onoffswitch-checkbox { 
  display: none; 
}
.onoffswitch-label { 
  display: block; 
  overflow: hidden; 
  cursor: pointer; 
  border: 2px solid #999999; 
  border-radius: 20px; 
}
.onoffswitch-inner { 
  width: 200%; 
  margin-left: -100%; 
  transition: margin 0.3s ease-in 0s; 
}
.onoffswitch-inner:before, 
.onoffswitch-inner:after { 
  float: left; 
  width: 50%; 
  height: 5px; 
  padding: 0; 
  line-height: 5px;
  font-size: 14px; 
  color: white; 
  font-family: Trebuchet, Arial, sans-serif; 
  font-weight: bold; 
  box-sizing: border-box;
}
.onoffswitch-inner:before { 
  content: ""; 
  padding-left: 10px; 
  background-color: #ACE4EA; 
  color: #FFFFFF; 
}
.onoffswitch-inner:after { 
  content: ""; 
  padding-right: 10px; 
  background-color: #EEEEEE; 
  color: #999999; 
  text-align: right; 
}
.onoffswitch-switch { 
  width: 9px; 
  margin: -2px; 
  background: #FFFFFF; 
  border: 2px solid #999999; 
  border-radius: 20px;
  position: absolute; 
  top: 0; 
  bottom: 0; 
  right: 31px; 
  transition: all 0.3s ease-in 0s;  
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner { 
  margin-left: 0; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch { 
  right: 0px;  
}
@keyframes fadein { 
  from {opacity:0;} to {opacity:1;} 
}
@-webkit-keyframes fadein { 
  from {opacity:0;} to {opacity:1;} 
}
#origemscriptOther { 
  position: absolute; 
  top: 54px; 
  right: 496px; 
  width: 130px; 
  height: 300px; 
  overflow-y: auto;
  background: #000; 
  background: rgba(0,0,0,0.5); 
  padding: 10px; 
  z-index: 10; 
  font-family: "helvetica";
  font-size: 1.0em; 
  -moz-border-radius: 0 0 35px 35px !important; 
  -webkit-border-radius: 0 0 35px 35px !important;  
  border-radius: 0 0 35px 35px !important; 
  color: #FFF;  
}
#origemscriptOther p { 
  text-align: center; 
  margin: 0 auto; 
  display: inline-block; 
  padding-right: 5px; 
}
#origemscriptOther a {  
  font-size: 1.0em; 
  color: #fff; 
}
#origemscriptOther h3 {  
  font-size: 20px;    
  text-align: center; 
  color: #ACE4EA; 
}
#origemscriptOther .version { 
  font-style: italic; 
  font-size: 0.8em;   
  text-align: center; 
  margin-bottom: 20px; 
  width:100%; 
}
#origemscriptOther .disclaimer { 
  font-style: italic; 
  font-size: 0.7em; 
  text-align: center;  
  padding-top: 10px; 
}
.slideout-menu { 
  position: fixed; 
  top: 0; left: -250px; 
  width: 250px; 
  height: 100%; 
  background: #333; 
  z-index: 100; 
}
.slideout-menu h3 { 
  position: relative; 
  padding: 12px 10px; 
  color: #fff; 
  font-size: 1.2em; 
  font-weight: 400; 
  border-bottom: 4px solid #222; 
}
.slideout-menu .slideout-menu-toggle {  
  position: absolute; top: 12px; 
  right: 10px; display: inline-block; 
  padding: 6px 9px 5px;
  font-family: Arial, sans-serif;  
  line-height: 1; 
  background: #222; 
  color: #999; 
  text-decoration: none; 
  vertical-align: top; 
}
.slideout-menu .slideout-menu-toggle:hover {  
  color: #fff;
}
.slideout-menu ul { 
  list-style: none; 
  font-weight: 300; 
  border-top: 1px solid #151515; 
  border-bottom: 1px solid #454545; 
}
.slideout-menu ul li { 
  border-top: 1px solid #454545; 
  border-bottom: 1px solid #151515; 
}
.slideout-menu ul li a { 
  position: relative; 
  display: block; 
  padding: 10px; 
  color: #999; 
  text-decoration: none; 
}
.slideout-menu ul li a:hover { 
  background: #000; 
  color: #fff; 
}
.slideout-menu ul li a i { 
  position: absolute; 
  top: 15px; 
  right: 10px; 
  opacity: .5; 
}
#ow-painel-background { 
  cursor: move; 
}
#staff-icon { 
  right: 20px;
}
#ul-icon-grab {  
  position: relative; 
  top: -6px;  
  left: -3px;
}
.title-variant {  
  font-variant: small-caps;  
  vertical-align: sub; 
}
.drag-blur { 
  -webkit-filter: blur(1px); 
  height: 18px; 
  width: 18px; 
  position: absolute; 
  top: 5px !important;
  right: 6px !important; 
  background: rgb(172,228,234); 
  border-radius: 10px; 
  cursor: pointer; 
}
#origemscript g { 
  text-align: right; 
  margin: 0 auto; 
  width: 80px; 
  display: inline-block; 
  padding-right: 5px; 
}
.ow-img.max { 
  width:280px; 
  height:350px;
}
.ow-img.wide { 
  width:280px; 
  height:auto; 
}
.ow-img.high { 
  height:350px; 
  width:auto;
}
.ow-img-delete { 
  position:absolute; 
  top:25px; 
  left:8px; 
  background-color:#F04F30; 
  padding:0 3px; 
  cursor:pointer;
} 
.custom-emote { 
  display:inline-block; 
  vertical-align:top; 
}
.userInfo.dj .votedBackgroundColor { 
  background-color: #0A4380; 
  font-weight: bold; 
}
.userInfo.woot .votedBackgroundColor { 
  background-color: #407D42; 
} 
.userInfo.meh .votedBackgroundColor { 
  background-color: #702B30; 
}
#plugbot-userlist { 
  position: absolute; 
  top: 54px; 
  width: 220px; 
  max-height: 445px; 
  overflow: hidden;
  outline: none; 
  z-index: 11; 
  overflow-y: auto; 
  overflow-x: hidden; 
} 
#nwootCreator { 
  margin-bottom: 0 px; 
  width: 220px;  
  height: auto; 
  cursor: move; 
}
.ulh1 { 
  background-color: #052736; 
  border-bottom:1px solid #444; 
  border-collapse: collapse; 
}
.ulh2 { font-size:22px; background: rgb(172,228,234); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(172,228,234,1) 0%, rgba(172,228,234,1) 100%); /* FF3.6+ */ 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(172,228,234,1)), color-stop(100%,rgba(172,228,234,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(172,228,234,1) 0%,rgba(172,228,234,1) 100%); /* Chrome10+,Safari5.1+ */  
  background: -o-linear-gradient(top,  rgba(172,228,234,1) 0%,rgba(172,228,234,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(172,228,234,1) 0%,rgba(172,228,234,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(172,228,234,1) 0%,rgba(172,228,234,1) 100%); /* W3C */ 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ACE4EA', endColorstr='#ACE4EA',GradientType=0 ); /* IE6-9 */ 
}
.ulh3 { 
  text-decoration:none; 
  font-weight:bold; 
  cursor:pointer; 
  color:rgb(172,228,234); 
  font-size:13px; 
} 
.ul-admin { 
  color: #42A5DC; 
}
.ul-ambassador{ 
  color: #89be6c; 
}
.ul-bouncer,
.ul-dj, 
.ul-host,
.ul-manager { 
  color: #ACE4EA;
}
.ul-user { 
  color: white; 
}
.userlj {
  background: url('https://cdn.plug.dj/_/static/images/icons.38f7ee77fd7ad2bc018b1a25fd4a1f0aaba5a4cd.png') 314px -349px;
  position: absolute; width: 16px; height: 16px; top: 7px;  left: 7px; 
}
.row:hover, 
#user-lists .list .user:hover, 
.media-list .actions {
  text-decoration: none;
  background-color: rgba(172,228,234, 0.22) !important;
  background: linear-gradient(to right,rgba(120, 250, 255, 0.05) 0,rgba(255, 0, 0, 0.49) 100%) !important;
  -webkit-transition: 200ms linear 0s;
  -moz-transition: 200ms linear 0s; -o-transition: 200ms linear 0s; transition: 300ms linear 0,1s; outline: 0 none;
}
#user-rollover .actions .action:hover {  
  background-color: rgba(172,228,234, 0.22) 
}
#user-rollover { 
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.75) 0, rgba(0, 0, 0, 0.75) 100%);
  background: linear-gradient(to bottom,rgba(0, 0, 0, 0.75) 0,rgba(0, 0, 0, 0.75) 100%); 
}
#user-rollover .info, 
#user-rollover .info .badge-box, 
#chat-messages .badge-box, .user-content.profile .meta .badge-box {
  background: none;
}
#footer-user .buttons div.inventory.button:hover { 
  background: linear-gradient(to bottom,#ACE4EA 0,rgba(172,228,234, 0.33) 56%,#000 73%,#39393A 100%); 
}
#footer-user .buttons div.badge.button:hover { 
  background: linear-gradient(to bottom,#ACE4EA 0,rgba(172,228,234, 0.33) 56%,#000 73%,#39393A 100%);  
}
#footer-user .buttons div.profile.button:hover { 
  background: linear-gradient(to bottom,#ACE4EA 0,rgba(172,228,234, 0.33) 56%,#000 73%,#39393A 100%);  
} 
#footer-user .buttons div.settings.button:hover { 
  background: linear-gradient(to bottom,#ACE4EA 0,rgba(172,228,234, 0.33) 56%,#000 73%,#39393A 100%);  
}
#footer-user .buttons div.store.button:hover { 
  background: linear-gradient(to bottom,#ACE4EA 0,rgba(172,228,234, 0.33) 56%,#000 73%,#39393A 100%);  
} 
#footer-user .info { 
  background: linear-gradient(to bottom,#115153 0,rgba(17, 81, 83, 1) 56%,#1A1A1A 73%,#39393A 100%); 
}
#chat .emote { 
  border-left: rgba(172,228,234, 1) 3px solid !important; 
  background-color: rgba(172,228,234, 0.22) !important; 
  background: linear-gradient(to right,rgba(172,228,234, 0.05) 0,rgba(172,228,234, 0.27) 100%) !important; 
}
#chat .message:nth-child(2n+1),
#chat .mention:nth-child(2n+1),
#chat .skip:nth-child(2n+1),
#chat .moderation:nth-child(2n+1),
#chat .emote:nth-child(2n+1),
#chat .update:nth-child(2n+1),
#chat .welcome:nth-child(2n+1) 
#chat .emote, 
#chat .mention,
#chat .message, 
#chat .moderation, 
#chat .skip, 
#chat .system, 
#chat .update, 
#chat .welcome {
  background-color: rgba(17, 19, 23, 0.32); 
  -webkit-animation:fadein 0.6s;  
  -moz-animation:fadein 0.6s;
  -ms-animation:fadein 0.6s;  
  -o-animation:fadein 0.6s; 
  animation:fadein 0.6s; 
}
#app-menu {
  max-width: 400px !important;
}
#app-menu .list {
  max-width: 400px !important;
}
#app-menu, 
#app-menu.open { 
  -webkit-transition: 500ms ease; 
  transition: 500ms ease; 
} 
#app-menu .list { 
  -webkit-transition: 500ms ease; 
  transition: 500ms ease; 
  opacity: 0; 
}
#app-menu.open .list { 
  -webkit-transition: 500ms ease; 
  transition: 500ms ease; opacity: 1; 
}
#app-menu, 
#app-menu .button { 
  background: linear-gradient(to bottom,rgba(255, 255, 255, 0) 0,rgba(0, 0, 0, 0) 100%) !important; 
}
#app-menu div { 
  background-color: rgba(0, 0, 0, 0.8) !important; 
}
#app-menu.open > .button { 
  background-color: rgba(0,0,0,0.85) !important; 
}
#app-menu {
  border-right-width: 0 !important; 
  -moz-box-shadow: none; 
  -webkit-box-shadow: none; 
  box-shadow: none;
}
#app-menu div { 
  background-color: rgba(0, 0, 0, 0) !important; 
}
#app-menu.open { 
  background-color: #282c35; 
}
#app-menu { 
  left: -177px; 
  max-width: 300px; 
  background-color: rgba(69, 69, 69, 0.25); 
}
#app-menu .button i { 
  left: 189px; 
}
#app-menu .item:hover { 
  background: #000 !important; 
  box-shadow: 0 0 15px #fff !important; 
}
#footer {
	background: #000;
}
.dark-label {
  color: #fff;
}
.media-list .row.now-playing, 
#playlist-button, 
.media-list .selected .actions, 
.media-list .row.selected, 
.media-list .row.now-playing .actions, 
#playlist-menu .menu .row.selected {  
  background: linear-gradient(to bottom, #ACE4EA 0px, #ACE4EA 100%) !important; 
  box-shadow: 0 0 10px rgba(172,228,234, 1) !important;
} 
.media-list.history .row.selected, 
.media-list.history .selected .actions { 
  background:#E01212 !important; 
  box-shadow: 0 0 10px #ACE4EA !important; 
}
#playlist-create:hover { 
  box-shadow: 0 0 10px #186696 !important; 
  background: linear-gradient(to bottom, #1C92D0 0px, #0E3556 100%) !important; 
}
#playlist-import:hover { 
  box-shadow: 0 0 10px #6E186D !important; 
  background: linear-gradient(to bottom, #A91CD0 0px, #4F0E56 100%)!important; 
}
#playlist-edit-button { 
  background: linear-gradient(to bottom, #2F5286 0px, #091036 100%); 
} 
#playlist-edit-button:hover { 
  background: linear-gradient(to bottom, #5290EC 0px, #142580 100%); 
} 
#playlist-shuffle-button { 
  background: linear-gradient(to bottom, #473861 0px, #140A27 100%); 
} 
#playlist-shuffle-button:hover { 
  background: linear-gradient(to bottom, #7F63B3 0px, #321A5E 100%); 
} 
#playlist-delete-button { 
  background: linear-gradient(to top, #571515 0px, #442609 100%); 
} 
#playlist-activate-button span, 
#playlist-menu .menu .row .count, 
.media-list.history .meta .timestamp { 
  color: #FFFFFF; 
}
#playlist-menu .title { 
  color: #ACE4EA;
}
#playlist-delete-button:hover { 
  background: linear-gradient(to bottom,rgba(68, 68, 68, 0.6) 0,rgba(172,228,234, 0.73) 100%);
  box-shadow:  0 0 10px rgba(172,228,234, 1) !important; 
}

#playlist-shuffle-button:hover { 
  background: linear-gradient(to bottom, #6541A1 0px, #3A1B76 100%); 
  box-shadow: 0 0 10px #6541A1 !important; 
}
#playlist-panel, 
#history-panel  {
  background : black-transparent; 
  opacity: 0.9;  
  text-shadow: 1px -1px #000; 
}  
#playlist-menu {    
  background: none;  
} 
#playlist-activate-button { 
  background: linear-gradient(to bottom, #ACE4EA 0px, #0E5456 100%) !important; 
  border-radius: 20px 0px 0px 20px !important; 
} 
#search {
  background: #000 !important;  
}
#dashboard .icon-grab {
    background: transparent url('https://vgy.me/QtEy69.png') no-repeat scroll 0% 0%;
    top: 13px;
    left: 13px;
}
#room-bar .favorite .icon-grab {  
  background: url('https://vgy.me/O7HEyf.png');  
}
#dashboard .search { 
  border-radius: 20px; 
  background:  #282c35; 
}
#dashboard { 
  background-color: rgba(0, 0, 0, 0.89) !important;  
}
#waitlist .list {
	background: #000;
}
#waitlist .list .user, .app-right .friends, .app-right .friends.has-requests .header, #chat-header {
	background: #000;
}
.communities .grid .cell {
  border-radius: 30px; 
}
.tab-menu button.selected { 
  background: linear-gradient(to bottom,rgba(172,228,234, 0.8) 0,rgba(172,228,234, 1) 100%) !important; 
  border-radius: 30px; 
}
.available  .thumb.medium, 
.available  .thumb.large { 
  border: 2px solid #599d24; 
  box-shadow: 0 0 10px 5px #599d24; 
}
#user-rollover .meta.available .status i { 
  border: 2px solid #599d24; 
  box-shadow: 0 0 10px 5px #599d24; 
}
.available  .thumb.small { 
  border: 2px solid #599d24; 
}
#footer-user .menu.status .item.available i { 
  border: 2px solid #599d24; 
  box-shadow: 0 0 10px 5px #599d24; 
}
#user-rollover .meta.available .status span { 
  color: #599d24; 
}
#user-rollover .meta.available { 
    background: linear-gradient(to bottom,rgba(76, 122, 50, 0.7) 0,rgba(28, 31, 37, 1) 100%); opacity: .85; 
}
.gaming .thumb.medium, 
.gaming .thumb.large  { 
    border: 2px solid #ACE4EA; box-shadow: 0 0 10px 5px #ACE4EA; 
}
.gaming .thumb.small  { 
    border: 2px solid #ACE4EA;
}
#user-rollover .meta.gaming .status i {
  border: 2px solid #ACE4EA; box-shadow: 0 0 10px 5px #ACE4EA;
}
#user-rollover .meta.gaming .status span {
  color: #ACE4EAb;
}
#footer-user .menu.status .item.gaming i {
  border: 2px solid #ACE4EAb; box-shadow: 0 0 10px 5px #ACE4EAb;
}
#user-rollover .meta.gaming {
  background: linear-gradient(to bottom,rgba(172,228,234, 0.4) 0,rgba(28, 31, 37, 1) 100%); opacity: .85;
}
.working .thumb.large, .working .thumb.medium {
  border: 2px solid #ACE4EAb; box-shadow: 0 0 10px 5px #ACE4EAb;
}
.working .thumb.small {
  border: 2px solid #ACE4EA;
}
#user-rollover .meta.working .status i {
  border: 2px solid #ACE4EAb; box-shadow: 0 0 10px 5px #ACE4EAb;
}
#user-rollover .meta.working .status span {
  color: #ACE4EAb;
}
#footer-user .menu.status .item.working i {
  border: 2px solid #ACE4EAb; box-shadow: 0 0 10px 5px #ACE4EAb;
}
#user-rollover .meta.working {
  background: linear-gradient(to bottom,rgba(172,228,234, 0.7) 0,rgba(28, 31, 37, 1) 100%); opacity: .85;
}
.away .thumb.large, .away .thumb.medium {
  border: 2px solid #b29600; box-shadow: 0 0 10px 5px #b29600;
}
.away .thumb.small {
  border: 2px solid #b29600;
}
.thumb .background {
  background: linear-gradient(to bottom,rgba(255, 255, 255, 0.25) 0,rgba(0, 0, 0, 0.75) 100%) !important;
  border-radius: 30px;
}
#user-rollover .meta.away .status i {
  border: 2px solid #b29600;
  box-shadow: 0 0 10px 5px #b29600;
}
#footer-user .menu.status .item.away i {
  border: 2px solid #b29600;
  box-shadow: 0 0 10px 5px #b29600;
}
#user-rollover .meta.away {
  background: linear-gradient(to bottom,rgba(109, 92, 40, 0.5) 0,rgba(28, 31, 37, 1) 100%);
  opacity: .85;
}
#footer-user .menu {
  background-color: rgba(0,0,0,0.85) !important;
}
#user-rollover .meta .joined {
  color: #eee;
}
#playback-controls .button.snooze {
  background: linear-gradient(to bottom,rgba(68, 68, 68, 0) 0,rgba(180, 71, 216, 0.73) 100%) !important;
  box-shadow: 0 0 10px #C41EC3 !important;
}
#playback-controls .button.refresh {
  background: linear-gradient(to bottom,rgba(68, 68, 68, 0) 0,rgba(0, 181, 230, 1) 100%);
  box-shadow: 0 0 15px #12A9E0 !important;
}
#playback-controls .button.hd {
  background: linear-gradient(to bottom,rgba(68, 68, 68, 0.6) 0,rgba(226, 37, 0, 0.73) 100%);
  box-shadow: 0 0 10px rgba(158, 30, 11, 1) !important;
}
#playback .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}
.icon { 
  background-image: url('https://vgy.me/NaTBuF.png'); } /* vermelho */
}
.icon.icon-chat-songlink {
  background: url('https://i.imgur.com/4ySq2jE.png') !important;
  background-repeat: no-repeat !important;
  top: 8px !important; left: 28px !important;
}
.icon.icon-chat-imagelink {
  background: url('https://i.imgur.com/h56ipwJ.png') !important;
  background-repeat: no-repeat !important;
  top: 8px !important; left: 28px !important;
}
.icon.icon-chat-privatemessage {
  background: url('https://i.imgur.com/D8PrBz8.png') !important;
  background-repeat: no-repeat !important;
  width: 30px; height: 30px; left: 4px !important;
}
.icon.icon-chat-privatemessageall {
  background: url('https://i.imgur.com/AkyEedW.png') !important;
  background-repeat: no-repeat !important;
  width: 30px; height: 30px; left: 4px !important;
}
.icon-origeminfo {
  background: url('https://i.imgur.com/MDYBtAf.png'); width: 30px; height: 30px;
}
.icon-origem-active {
  background: url('https://i.imgur.com/ATr0Z24.png');
}
#your-active-playlist > .icon-check-purple{
  background: url('https://i.imgur.com/RpYlWSk.png') !important;
  top: 16px;
}
#user-menu .item > .icon-history-white {
  background: url('https://i.imgur.com/EdPgEwe.png') !important;
  top: 16px;
}
#footer-user .item > .icon-history-white {
  background: url('https://i.imgur.com/EdPgEwe.png') !important;
  top: 16px;
}
#user-lists .list {
  -webkit-animation:fadein 0.5s;
  -ms-animation:fadein 0.5s;
  animation:fadein 0.5;
  background: #000000;
}
#user-lists .list.room .user .icon-meh {
  left:auto;
  right:8px;
  top:-1px
}
.user-content.profile .notifications .row,
.dropdown dd .row:hover,
#user-menu .item.selected {
  background: #ACE4EA !important;
}
.user-content.profile .notifications .row .timestamp {
  color: #eee;
}
#user-menu {
  background: rgba(28, 31, 37, 0.26) !important;
}
.dropdown dt {
  border-radius: 30px;
  background: linear-gradient(to bottom,rgba(172,228,234, 0.8) 0,rgba(34, 188, 186, 1) 100%) !important;
  box-shadow: 0 0 15px #ACE4EA !important;
}
.dropdown,
#user-settings .tab-menu button:first-child {
  border-radius: 50px;
}
.user-content .header span,
.user-content.profile .meta .badge span,
.user-content.profile .meta .joined {
  color: #eee;
}
#user-friends .list .row {
  border-radius: 300px;
}
.user-content.profile .meta .link .url a,
.user-content.profile .meta .link .url a:visited,
.user-content.profile .points .label {
  color: #ACE4EA !important;
}
.user-content.profile .points .label {
  color: #12A9E0;
  text-transform: uppercase;
}
.dropdown dd .row {
  background: rgba(0,0,0,0.5) !important;
}
#user-menu .item .label {
  top: 7px !important;
}
.experience .xp .next-level,
.app-right .friends .list .row .room {
  color: #FFFFFF !important;
}
.experience .xp .bar .progress {
  border-radius: 10px 0px 10px 0px !important;
  background: #ACE4EA;
  box-shadow: 0 0 10px 5px #ACE4EA;
}
#footer-user .info .bar .progress {
  border-radius: 10px 0px 10px 0px !important;
  background: #ACE4EA;
  box-shadow: 0 0 15px #ACE4EA !important;
}
.experience .xp .bar,
#footer-user .meta div.bar {
  border-radius: 10px 0px 10px 0px !important;
}
#footer-user .meta div.bar {
  border-radius: 10px 0px 10px 0px !important;
}  
